@font-face {
    font-family: 'titulo-logo';
    src: url(../fonts/titulo-logo.otf);
}
  
@font-face {
    font-family: 'firma';
    src: url(../fonts/firma.otf);
}

@font-face {
    font-family: 'principal';
    src: url(../fonts/principal.ttf);
}